/* Styles for spoken text */
.speech {
    font-family: "Arial", sans-serif;  
    font-size: 16px;  
    color: black;
}

/* Styles for non-spoken directions */
.direction {
    font-family: "Times New Roman", serif;  
    color: black;
    background-color: #f5f5f5; 
    transition: background-color 0.3s, color 0.3s; 
}
 
/* Hover effect for directions */
.direction:hover {
    background-color: #555555; 
    color: white;
}

/* Styles for character names */
.KNUT BROVIK {
    color: #ff5733; 
}

.BROVIK {
    color: #33ff57;  
}

.RAGNAR {
    color: #5733ff; 
}
.KAIA{
    color:aqua;
}
/* Style the ibsen-table */
.ibsen-table {
    width: 80%; /* Set table width to 80% of the container */
    margin: 20px auto; /* Center-align the table */
    border: 2px solid #009688; /* Teal border */
    border-collapse: collapse;
}

/* Style table headers with different colors */
.ibsen-table th {
    background-color: #009688; /* Teal */
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff; /* White border */
}

/* Style alternate rows with different background colors */
.ibsen-table tbody tr:nth-child(even) {
    background-color: #E0E0E0; /* Light Gray */
}

.ibsen-table tbody tr:nth-child(odd) {
    background-color: #FFF; /* White */
}

/* Style table cells with different border colors */
.ibsen-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #009688; /* Teal border */
}
.KNUTBROVIK:hover{
        
    color: darkred;
    text-shadow:3px 2px 3px blue;
    background-color:darkkhaki;
}
.KAIA:hover{
        color: darkred;
        text-shadow:3px 2px 3px blue;
        background-color:darkkhaki;
      }
.BROVIK:hover{
        color: darkred;
        text-shadow:3px 2px 3px blue;
        background-color:darkkhaki;
      }
   
      

 

